@font-face {
    font-family:'Main';
    src:url('font.ttf');
}
body {
    font-size: medium;
    position: absolute;
    width: 180%;
    height: 180%;
    font-family:'Open Sans', sans-serif;
    overflow: hidden;
    
	-webkit-backface-visibility:hidden; /* Chrome, Safari, Opera */
	backface-visibility:hidden;

    -webkit-transform: rotateZ(-15deg) translate(-25%,-40%);
    -moz-transform: rotateZ(-15deg) translate(-25%,-40%);
    -ms-transform: rotateZ(-15deg) translate(-25%,-40%);
    -o-transform: rotateZ(-15deg) translate(-25%,-40%);
    transform: rotateZ(-15deg) translate(-25%,-40%);    
	
    -webkit-transition: all .65s cubic-bezier(0,0.8,.9,1);
    -moz-transition: all .65s cubic-bezier(0,0.8,.9,1);
    -ms-transition: all .65s cubic-bezier(0,0.8,.9,1);
    -o-transition: all .65s cubic-bezier(0,0.8,.9,1);
    transition: all .65s cubic-bezier(0,0.8,.9,1);
}
body.about {
    -webkit-transform: rotateZ(0deg) translate(0%,0%);
    -moz-transform: rotateZ(0deg) translate(0%,0%);
    -ms-transform: rotateZ(0deg) translate(0%,0%);
    -o-transform: rotateZ(0deg) translate(0%,0%);
    transform: rotateZ(0deg) translate(0%,0%);    
}
body.price {
    -webkit-transform: rotateZ(0deg) translate(-44%,0%);
    -moz-transform: rotateZ(0deg) translate(-44%,0%);
    -ms-transform: rotateZ(0deg) translate(-44%,0%);
    -o-transform: rotateZ(0deg) translate(-44%,0%);
    transform: rotateZ(0deg) translate(-44%,0%);   
}
body.contacts {
    -webkit-transform: rotateZ(0deg) translate(0%,-44%);
    -moz-transform: rotateZ(0deg) translate(0%,-44%);
    -ms-transform: rotateZ(0deg) translate(0%,-44%);
    -o-transform: rotateZ(0deg) translate(0%,-44%);
    transform: rotateZ(0deg) translate(0%,-44%);
}
body.works {
    -webkit-transform: rotateZ(0deg) translate(-44%,-44%);
    -moz-transform: rotateZ(0deg) translate(-44%,-44%);
    -ms-transform: rotateZ(0deg) translate(-44%,-44%);
    -o-transform: rotateZ(0deg) translate(-44%,-44%);
    transform: rotateZ(0deg) translate(-44%,-44%);
}
.b-page {
    color: #ffe11a;
    position: absolute;
    width: 50%;
    display: inline-block;
    height: 50%;
    border: 10px solid #fff;
}
.content {
    position: absolute;
    height: 88%;
    width: 80%;
}
@media (min-width: 1200px) {
    .content {
        width: 1000px;
    }
}
@media (max-height: 500px) {
    .content {
        height: 80%;
    }
    .b-about__main {
        height: 20%;
    }
}
@media (max-width: 1000px) {
    body {
        font-size: x-small;
    }
}
@media (max-width: 500px) {
    body {
        font-size: xx-small;
    }
}
@media (max-height: 500px) {
    body {
        font-size: x-small;
    }
}
.menu {
    width: 3em;
    height: 0;
    overflow: hidden;
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    background-image: url('../img/menu_yellow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0.5s;
    -moz-transition: opacity 0.5s 0.5s;
    -ms-transition: opacity 0.5s 0.5s;
    -o-transition: opacity 0.5s 0.5s;
    transition: opacity 0.5s 0.5s;
}
.menu_show{
	opacity: 1;
	height: 3em;
}
h1 {
	cursor: pointer;
    font-size: 3em;
    font-family:'Main';
    text-decoration: underline;
    position: absolute;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
}
strong {
    font-weight: 700;
}