body {
    font-size:  xx-small;
    position: absolute;
    width: 185%;
    height: 124%;
    font-family:'Open Sans', sans-serif;
    overflow: hidden;
    
	-webkit-backface-visibility:hidden; /* Chrome, Safari, Opera */
	backface-visibility:hidden;

    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
    transform:none;  
	
/*    -webkit-transform: translate(-25%,-19.2%);
    -moz-transform: translate(-25%,-19.2%);
    -ms-transform: translate(-25%,-19.2%);
    -o-transform: translate(-25%,-19.2%);
    transform: translate(-25%,-19.2%);  */   	
}
body.about {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;    
}
body.price {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;   
}
body.contacts {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
body.works {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
h1{
	font-size: 2em;
}
.b-about h1,.b-about h2,.about__text{
	color: #fd7400;
}
.b-page {
    color: #ffe11a;
    position: absolute;
    width: 300px;
    display: inline-block;
    height: 300px;
    border: 5px solid #fff;
}
.content {
    position: absolute;
    height: 90%;
    width: 90%;
}
.b-about .content{
	bottom: 1em;
	right: 1em;
	background-position: 100% 95%;
}
.b-contacts .content {
    top: 1em;
    right: 1em;
}
.b-price .content{
	left: 1em;
	bottom: 1em;
}
.b-works .content{
	top: 1em;
	left: 1em;
}
.b-team{
	width: 100%;
}
.b-about__main{
	padding-top: 0;
	width: 50%;
	overflow: hidden;
	height: 54%;
}
.b-price__description {
	width: 65%;
	height: 70%;
}
.b-price__list{
	width: 25%;
	color: #fff;
	height: 65%;
	bottom: 9em;
}
.b-price__list .b-price__item{
	width: 100%;
}
.b-price__list_inline{
	width: 90%;
	bottom: 4em;
	left: 0;
}
.price__icon{
	display: none;
}
.menu{
	display: none;
}
input[type="text"]{
    font-size: 0.8em;
}
input[type="submit"]{
	font-size: 0.8em;
	background-size: 12%;
	width: 75%;
	padding-left: 3em;
	background-position: 9% center;
}
.contacts__item{
    background-size: 10%;
    line-height: 3em;
    font-size: 0.8em;

}
.contacts__list{
    width: 42%;
    margin-top: 10%;
}
.contacts__item_mail{
    line-height: 3.5em;
    background-position: 1% center;
}
.triangle{
	display: none;
}
.description__img{
	float: none;
	margin: 0 auto;
	width: 40%;
}
.b-description{
    height: 77%;
    text-align: center;

}